@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pangolin&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html,
#__next {
  height: 100%;
}

body {
  @apply bg-nbw-primary;
  @apply text-nbw-primary-invert;
  @apply font-sans;
  @apply select-none;
}

.noise {
  background-image: url("/assets/noise.svg");
  @apply fixed;
  @apply top-0;
  @apply left-0;
  @apply w-full;
  @apply h-full;
  opacity: 0.07;
}

a {
  @apply text-nbw-primary-invert-faint;
  @apply hover:text-nbw-primary-invert;
}
